/* 

section 1 bg:
background: linear-gradient(113.9deg, #024264 0%, #0485CA 83.46%);

section 3 bg:
background: radial-gradient(70.98% 70.97% at 50% 41.92%, #40A9E8 0%, #024264 100%);

*/
@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #024264;
  --secondary-color: #0485ca;
  --accent-color: #4db571;
  --text: #333333;
  --footer-bg: #00263a;
  /* Fonts */
  --black: 900;
  --medium: 500;
  --bold: 700;
  --semibold: 600;
  /* Font family */
  --roboto: "Roboto", sans-serif;
  --inter: "Inter", sans-serif;
  --lexend-deca: "Lexend Deca", sans-serif;
}

body {
  color: var(--text);
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background: white;
  color: var(--text);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  font-family: var(--roboto);
  font-weight: var(--medium);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 32px;
  font-weight: var(--bold);
}

/* SECTION 1 */

#hero {
  background: linear-gradient(113.9deg, #024264 0%, #0485ca 83.46%);
  color: #ffffff;
}

.column-6 h1 {
  font-family: var(--lexend-deca);
  font-weight: var(--bold);
}

.column-6 p {
  font-family: var(--inter);
}

.hero-btn button {
  font-weight: var(--semibold);
}

/* SECTION 2 */

.section-title {
  /* Unlock the Future of Learning with AILA */
  font-family: var(--roboto);
  font-weight: var(--bold);
  /* font-size: 1.94rem; */
  margin-bottom: 0.48em;
  text-transform: uppercase;
}

.section-desc {
  font-family: var(--inter);
  /* margin-bottom: 3.125em; */
}

/* SECTION 3 */

#features {
  background: radial-gradient(
    70.98% 70.97% at 50% 41.92%,
    #40a9e8 0%,
    #024264 100%
  );
  color: #ffffff;
}

.feature-title {
  font-family: var(--roboto);
  font-weight: var(--semibold);
  text-transform: uppercase;
}

/* SECTION 4 */

.price-card-bg {
  background: linear-gradient(190.84deg, #2599d6 -0.61%, #035682 98.5%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.price-card {
  /* position: relative; */
  /* background: linear-gradient(190.84deg, #2599d6, #035682); */
  /* overflow: hidden; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); */
}

.trial-tag,
.starter-tag,
.popular-tag,
.exclusive-tag {
}

.trial-tag span,
.starter-tag span,
.popular-tag span,
.exclusive-tag span {
}

.trial-tag span {
  background: linear-gradient(100deg, #b6ac53 0.68%, #0a81c0 99.81%);
}

.starter-tag span {
  background: linear-gradient(100deg, #1de4ff 0.68%, #0a81c0 99.81%);
}

.popular-tag span {
  background: linear-gradient(100deg, #760389 0.68%, #0a81c0 99.81%);
}

.exclusive-tag span {
  background: linear-gradient(100deg, #FF0120 0.68%, #0A81C0 99.81%);
}

.price-button {
  background: linear-gradient(190.84deg, #2599d6 -0.61%, #035682 98.5%);
}

.pricing-month {
  background: linear-gradient(180deg, #2843cd 0%, #32b2fa 100%);
}

/* SECTION 5 */

.team-desc {
  font-family: var(--inter);
}

footer {
  background-color: var(--footer-bg);
  color: #ffffff;
}

/* FOOTER */

.email-btn {
  background-color: var(--accent-color);
}
